
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Capriola&family=PT+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
width: 100vw;
}

/* hero div properties */
.hero_section {
    margin:0px;
    width: 1450px;
    display: flex;
    position: relative;
 } 

/* navigation bar properties */
nav {
    width: 1500px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
}

.nav_text {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    z-index: 1;
    width: 465px;
    margin-top: 10px;
    margin-left: 25px;
}

.textActive{
    font-size: 20px;
    font-weight: 600px;
    font-family: "Barlow";
    position: relative;
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    border-bottom-color: rgb(233, 91, 75);
    width: fit-content;
}

.textInactive {
    font-size: 20px;
    font-weight: 400px;
    font-family: "Barlow";
    text-align: center;
}

/* anchor tag style for all links */
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
    
 
/* image properties*/
#background_01 {
    z-index: -1;
    position: absolute;
    margin:0px;

}

#dish {
    position: absolute;
    left: 0px;
    top: 82px;
}


/*right text group properties*/
.right_text {
    padding-top: 300px;
    padding-left: 908px;
    width: 580px;
}

.title {
    color: rgba(123, 55, 2, 1);
    font-family: "Capriola";
    font-size: 73px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0px;
}

.brown {
    color: rgba(123, 55, 2, 1);
    font-family: "Capriola";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 55px;
}

.brownSubtitle {
    color: rgba(123, 55, 2, 1);
    font-family: "Capriola";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 55px;
}

.subtitle_black {
    color: rgb(0, 0, 0);
    font-family: "Capriola";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.subtitleQues_black {
    color: rgb(0, 0, 0);
    font-family: "Capriola";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}



.subtitle_black_frontcenter {
    z-index: 1;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "Capriola";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;

}
.regular_black {
    color: rgb(0, 0, 0);
    font-family: "Barlow";
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.special_black {

        color: rgb(0, 0, 0);
        font-family: "Barlow";
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 10px;
    }


.light_black {
    color: rgb(0, 0, 0);
    font-family: "Barlow";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_text {
    color: rgb(0, 0, 0);
    font-family: "Barlow";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

button {
    color: rgb(255, 255, 255);
    background: rgb(233, 91, 75);
    border: none;
    font-family: "Barlow";
    font-size: 23px;
    border-radius: 18px;
    width: 242px;
    height: 54.546px;
    flex-shrink: 0;
}


/* recipe book properties */
#book {
    z-index: 1;
    position: relative;
    align-items: center;
}

.recipe_book {
    width: 1450px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.flip_arrows {
    display: flex;
    flex-direction: row;
}

.arrow_icon {
    padding-left: 8px;
    padding-right: 8px;
}


.about_cooks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1223px;
    margin: 150px;
    padding-top: 250px;
}

.personal_text {
    width: 600px;
}

/* 
.footer {
display: flex;
}

.footer_rect {
    position: relative;
} */


/* 
body{
    overflow:hidden;
} 
*/
#flipbook-container {
    background-color: brown;
    overflow: hidden;
    border-radius: 10px;
}

#flipbook{
    width:1500px;
    height:300px;
    z-index: 100;
}
#flipbook .flipbook-page{
    /* width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center; */
    background-color: aqua;
}
/* 
#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
} */