#logo {
    width: 400px;
}

hr {
    height: 5px;
    border: none;
    background: black;
}

.navSelected {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    font-weight: 700;
}

.inactive {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.pageHeader {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 25px;
}

h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;
}

.prod-card {
    margin: auto;
    max-width: 420px;
    padding: 10px;
    height: auto;
    /* padding: 5px; */
    text-align: left;
    background-color: transparent;
}

.prod-card:hover {
    background-color: yellow;
    text-decoration: underline;
    font-weight: 900;
}

.productImageDiv {
    background-color: transparent;
    text-align: center;
    /* width: 410; */
    /* height: auto; */
    border: 5px;
    border-color: black;
    background-color: transparent;
}

#productImage {
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    width: 410px;
    height: 410px;
}

#productName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.productDetailCard {
    margin: auto;
    max-width: 420px;
    padding: 10px;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
}

#productTextDetails {
    max-width: 200px;
    text-align: left;
    display:block;
    margin: 0 auto;
}

#glazing {
    margin-top: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 250px;
    border-style: solid;
    color: black;
}

#packSize {
    margin-top: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 25px;
    width: 250px;
    border-style: solid;
    color: black;
}

.callToAction {
    color: rgb(0, 0, 0);
    background-color:yellow;
    width: 100px;
    padding: 5px;
}

.priceAdd {
    display:inline-block;

}
