#logo {
    width: 400px;
}

hr {
    background: rgb(0, 0, 0);
    height: 5px;
    border: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor:pointer;
}

p {
    padding-top: 0px;
    margin-top: 0px;
}

.textUnderline {
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navDiv {
    text-align: center;
    width: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.textActive{
    background-color: rgb(255, 255, 0);
    font-size: 22px;
    font-weight: bold;
    font-family: "PT Sans";
}

.textInactive {
    font-size: 22px;
    font-weight: lighter;
    font-family: "PT Sans";
    text-align: center;
}

.pageHeader {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    font-family: "PT Sans";
    margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-family: "PT Sans";
    text-align: center;
}

.prodCard {
    font-family: "PT Sans";
    text-align: left;
    max-width: 420px;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 5px;
}

.prodCard:hover {
    background-color: rgb(255, 255, 0);
    font-weight: bold;
}

.cardText {
    width: 400px;
    margin: auto;
}

.textLight {
    font-weight: normal;
}

.prodImgDiv {
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    border: 5px;
    margin-bottom: 0px;
    padding-top: 5px;
}

.prodImg {
    border: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    width: 400px;
    height: 400px;
}

#prodDetailImg {
    border: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    width: 600px;
    height: 600px;
}

.prodDetailCard {
    background-color: transparent;
    font-family: "PT Sans";
    max-width: 420px;
    height: auto;
    margin: auto;
    padding: 10px;
}

#prodTextDetails {
    font-family: "PT Sans";
    text-align: left;
    max-width: 200px;
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.dropSection {
    margin-top: 35px;
}

#glazing {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: "PT Sans";
    height: 25px;
    width: 200px;
    border-style: solid;
    margin-top: 2px;
}

#packSize {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: "PT Sans";
    height: 25px;
    width: 200px;
    border-style: solid;
    margin-top: 2px;
}

.actionButton {
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 0);
    font-weight: bold;
    width: 120px;
    height: 30px;
}

.actionButton:hover {
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 0);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.priceAdd {
    vertical-align: center;
    display: inline-flex;
    justify-content: flex-end;
    width: 200px;
    font-size: 14px;
    margin-top: 45px;
    align-items: baseline;
}

.shopping list {
    max-width: 400px;
    display:block;
    margin: 0 auto;
}

.prodCartImgDiv {
    background-color: transparent;
    text-align: center;
    border: 5px;
    border-color: black;
}

.prodCartDetails {
    font-size: 22px;
    font-family: "PT Sans";
    text-align: center;
    display: block;
    margin-bottom: 25px;
}

.prodCartImg {
    border: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    width: 200px;
    height: 200px;
}

.removeText {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.price {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.horizontalLine {
    width: 50%;
}