#logo {
    width: 400px;
}

hr {
    height: 5px;
    border: none;
    background: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor:pointer;
}

p {
    padding-top: 0px;
    margin-top: 0px;
    /* margin-bottom: 10px; */
}

.textUnderline {
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navDiv {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    width: auto;
    /* margin: auto; */
}

.textActive{
    background-color: yellow;
    font-size: 22px;
    font-weight: 700;
    font-family: "PT Sans";
}

.textInactive {
    font-size: 22px;
    font-weight: 100;
    font-family: "PT Sans";
    text-align: center;
}

.pageHeader {
    text-align: center;
    font-family: "PT Sans";
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-family: "PT Sans";
    font-weight: 100px;
}

.prodCard {
    height: auto;
    text-align: left;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 420px;
    padding: 5px;
    font-family: "PT Sans";
}

.prodCard:hover {
    font-weight: 900;
    background-color: yellow;
}

.cardText {
    width: 400px;
    margin: auto;
}

.textLight {
    font-weight: normal;
}

.prodImgDiv {
    text-align: center;
    border: 5px;
    border-color: black;
    background-color: transparent;
    margin-bottom: 0px;
    padding-top: 5px;
}

#prodImg {
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    width: 400px;
    height: 400px;
}

#prodDetailImg {
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    width: 600px;
    height: 600px;
}

.prodDetailCard {
    margin: auto;
    max-width: 420px;
    padding: 10px;
    height: auto;
    font-family: "PT Sans";
    background-color: transparent;
}

#prodTextDetails {
    max-width: 200px;
    font-family: "PT Sans";
    text-align: left;
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.dropSection {
    margin-top: 35px;
}

#glazing {
    font-family: "PT Sans";
    font-size: 15px;
    border-style: solid;
    color: black;
    margin-top: 2px;
    height: 25px;
    width: 200px;
}

#packSize {
    font-family: "PT Sans";
    font-size: 15px;
    border-style: solid;
    color: black;
    margin-top: 2px;
    height: 25px;
    width: 200px;
}

.actionButton {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color:yellow;
    width: 120px;
    height: 30px;
    padding: 5px;
    margin-left: 15px;
}

.actionButton:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color:yellow;
    width: 120x;
    height: 30px;
    padding: 5px;
}

.priceAdd {
    vertical-align: center;
    display: inline-flex;
    justify-content: flex-end;
    width: 200px;
    font-size: 14px;
    margin-top: 45px;
}

.shopping list {
    max-width: 400px;
    display:block;
    margin: 0 auto;
}

.prodCartImgDiv {
    background-color: transparent;
    text-align: center;
    border: 5px;
    border-color: black;
}

.prodCartDetails {
    font-size: 22px;
    font-family: "PT Sans";
    text-align: center;
    display:block;
    margin-bottom: 25px;
    /* margin-top: 25px; */
}

#prodCartImg {
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    width: 200px;
    height: 200px;
}

#removeText {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

#price {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.horizontalLine {
    width: 50%;
}